<app-buscador-personajes></app-buscador-personajes>

<div  fxLayout={{ordenComponentes}} fxLayoutAlign={{alineacionComponentes}} >
    <div fxFlex="80" >
        <mat-grid-list cols={{cantidadColumnas}} rowHeight={{tamFilas}} (window:resize)="reajustarGrid($event)" >
            <mat-grid-tile *ngFor="let personaje of listaDatos.listaPersonajes 
            | paginate: { itemsPerPage: 10, currentPage: paginaActual, 
                totalItems: listaDatos.totalRegistros
                }">
                <app-tarjeta-personaje [personaje] = "personaje" class="itemGrid"></app-tarjeta-personaje>
            </mat-grid-tile> 
        </mat-grid-list>
    
        <pagination-controls (pageChange)="cambiarPagina($event)"></pagination-controls>
    </div>

    <div fxFlex="20" class="contenedorFavoritos">
        <div fxLayout='column' >
            <div fxLayout='row'  >
                <img src="../../../../assets/favourites.png" style="height: 35px; width: 35px;">
                <h2> My favourites</h2>
            </div>
            <div >
                <mat-list >
                    <mat-list-item  *ngFor="let comicFavorito of listaFavoritos"  >
                        <app-tarjeta-comic-favorito [comic]="comicFavorito" ></app-tarjeta-comic-favorito>
                    </mat-list-item>
                    
                  </mat-list>
            </div>
        </div>
    </div>
</div>
