.itemGrid{
    max-width: 450px;
    min-width: 450px;
  }

  @media all and (max-width: 1280px) {
    .itemGrid{
      max-width: 90%;
      min-width: 90%;
    }
  }

  @media all and (max-width: 720px) {
    .itemGrid{
      max-width: 80%;
      min-width: 80%;
    }
    
  }

  @media all and (max-width: 600px) {
    .itemGrid{
      max-width: 80%;
      min-width: 80%;
     
    }
  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: inline-block !important;
    height: max-content;
    margin-bottom: 25px;
  }
  

  .contenedorFavoritos{
    background-color: #F3F1F1;
    height: 100%;
  }
