.example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('https://media.vandalsports.com/i/640x360/4-2021/2021427125442_1.jpg');
    background-size: cover;
  }

  .mat-card-avatar {
    width: 180px;
    height: 180px;
    font-size: 40px;
    position: relative;
    z-index: 2;
    margin-left: -7%;
    margin-top: -9%;
  }

  .mat-card-header .mat-card-title {
      position: relative;
      z-index: 2;
      margin-top: -12%;
      font-size: 20px;
  }

  .mat-card-header .mat-card-subtitle {
    text-align: justify;
    }

    .subtituloComicsRelacionado {
        color: rgba(0,0,0,.54);
        font-weight: bold;
    }