<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>CAPITAN AMERICA </mat-card-title>
      <mat-card-subtitle>El Capitán América fue diseñado como un supersoldado patriota que luchaba frecuentemente contra las potencias del Eje en la Segunda Guerra Mundial, y fue el personaje más popular de Timely Comics durante el período de guerra</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
        <h3 class="subtituloComicsRelacionado">
       Comics relacionados
      </h3 >
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
