<div>
    <mat-card class="example-card">
        <mat-card-header>
            <img mat-card-avatar src={{comic.imagen}} >
          <mat-card-title>{{comic.nombre}}</mat-card-title>
          <mat-card-subtitle>{{comic.descripcion}}</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions fxLayout="row">
          <button mat-button fxFlex="50" class="botonAgregarComic" >
              <div fxLayout="row" fxLayoutAlign="center center" >
                <img src="../../../../assets/btn-favourites-primary.png" class="imagenBotonAgregarComic">
                <p class="textoBotonModalComic">ADD TO FAVOURITES</p>
              </div>
             
               </button>
          <button mat-button fxFlex="50" class="botonComprarComic">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <img src="../../../../assets/shopping-cart-primary.png" class="imagenBotonAgregarComic">
                <p class="textoBotonModalComic">BUY FOR ${{comic.precio}}</p>
              </div>
              </button>
        </mat-card-actions>
      </mat-card>
</div>
